/* CONTENEDOR HEADER */

header .contenedor{
display:flex;
align-items:center;
justify-content:space-between;
}

/* MENU ESCRITORIO */

.menu{
display:flex;
gap:20px;
}

.menu a{
text-decoration:none;
color:#fff;
padding:10px;
}

/* BOTON HAMBURGUESA */

.menu-toggle{
display:none;
font-size:28px;
background:none;
border:none;
cursor:pointer;
color:white;
margin-left:auto;
}

/* MOVIL */

@media (max-width:768px){

.menu-toggle{
display:block;
}

.menu{
display:none;
flex-direction:column;
position:absolute;
top:70px;
left:0;
width:100%;
background:#333;
}

.menu a{
border-top:1px solid #555;
}

.menu.show{
display:flex;
}

}